@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #0ea5e9; /* A bright blue for highlights */
  --border: #e5e5e5; /* Light gray for borders */
  --muted: #6b7280; /* Muted text color */
  --grayDark: #0b0b0b;
  --grayLight: #1f1f1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --accent: #00758b; /* Slightly deeper Turquoise in dark mode */
    --border: #003026; /* Dark gray for borders */
    --muted: #9ca3af; /* Lighter muted text */
    --grayDark: #0b0b0b;
    --grayLight: #1f1f1f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'KaushanScript';
  src: url('../../../public/fonts/KaushanScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../../public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sarala';
  src: url('../../../public/fonts/Sarala-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../../../public/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
